@import '/src/assets/styles/variable';

.main-container {
    .dashboard-wrapper {
        .header-wrapper {
            .animation-wrapper {
                width: 50px;
                height: 50px;
                outline: none;
            }

            .setting-btn {
                width: 60px;
                height: 60px;
                border: 5px solid $maroon;
            }

            .curve-wrapper {
                width: 310px;
                height: 80px;
                border-radius: 0 0 20% 20%/0 0 100% 100%;

                .curve-btn {
                    background: #80040a;
                    height: 45px;
                    width: 200px;
                    text-shadow: 2px 2px #8e650d;
                    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.2) inset,
                        -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }
            }
        }

        .background-overlay {
            max-width: 1200px;
            margin: 0 auto;
            background: rgba($black, 0.5);
        }

        .dice-main-container {
            margin-bottom: 50px;
            margin-top: 80px;

            .dice-container {
                height: 600px;

                .dice-wrapper {
                    display: grid;
                    place-items: center;
                    height: 600px;
                    align-content: space-around;
                    margin-bottom: -100px;

                    .dice {
                        width: 100px;
                        height: 100px;
                        transform-style: preserve-3d;
                        transition: 1s ease;
                        transform: rotateY(185deg) rotateX(150deg)
                            rotateZ(315deg);

                        &--width {
                            width: 80px;
                            height: 80px;
                        }

                        &--1 {
                            transform: rotateX(0deg) rotateY(0deg);
                        }

                        &--2 {
                            transform: rotateX(-90deg) rotateY(0deg);
                        }

                        &--3 {
                            transform: rotateX(0deg) rotateY(90deg);
                        }

                        &--4 {
                            transform: rotateX(0deg) rotateY(-90deg);
                        }

                        &--5 {
                            transform: rotateX(90deg) rotateY(0deg);
                        }

                        &--6 {
                            transform: rotateX(180deg) rotateY(0deg);
                        }

                        .face {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                            transform-style: preserve-3d;
                            background: linear-gradient(
                                145deg,
                                #dddbd8,
                                $white
                            );

                            &::after {
                                position: absolute;
                                content: '';
                                top: 50%;
                                left: 50%;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                background: #131210;
                            }

                            &::before {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                                background: #f6f3f0;
                                transform: translateZ(-1px);
                            }

                            &--small-dice {
                                &::after {
                                    height: 14px;
                                    width: 14px;
                                    top: 52%;
                                    left: 52%;
                                }
                            }

                            &--background {
                                box-shadow: 12px 12px 16px 0
                                        rgb(255 255 255 / 30%) inset,
                                    -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
                                background-image: linear-gradient(
                                    -90deg,
                                    #c49f9f,
                                    #808080
                                );
                            }

                            &--active {
                                box-shadow: 5px 6px 16px 0
                                        rgba(255, 255, 255, 0.3) inset,
                                    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                                background: linear-gradient(
                                    145deg,
                                    #5fe8ff,
                                    #006475
                                );
                            }

                            &--win {
                                background: linear-gradient(
                                    145deg,
                                    #51ad2e,
                                    #46cc22
                                );
                            }
                        }

                        .front {
                            transform: translateZ(50px);

                            &::after {
                                margin: -7px 0 0 -7px;
                            }
                        }

                        .back {
                            transform: rotateX(180deg) translateZ(50px);

                            &::after {
                                margin: -35px 0 0 -30px;
                                box-shadow: 40px 0 #000, 0 25px #000,
                                    40px 25px #000, 0 50px #000, 40px 50px #000;
                            }
                        }

                        .top {
                            transform: rotateX(90deg) translateZ(50px);

                            &::after {
                                margin: -30px 0 0 -30px;
                                box-shadow: 40px 40px #000;
                            }
                        }

                        .bottom {
                            transform: rotateX(-90deg) translateZ(50px);

                            &::after {
                                margin: -36px 0 0 -36px;
                                box-shadow: 26px 26px #000, 52px 52px #000,
                                    52px 0 #000, 0 52px #000;
                            }
                        }

                        .right {
                            transform: rotateY(90deg) translateZ(50px);

                            &::after {
                                margin: -30px 0 0 -30px;
                                box-shadow: 40px 0 #000, 0 40px #000,
                                    40px 40px #000;
                            }
                        }

                        .left {
                            transform: rotateY(-90deg) translateZ(50px);

                            &::after {
                                margin: -35px 0 0 -35px;
                                box-shadow: 25px 25px #000, 50px 50px #000;
                            }
                        }
                    }

                    .dice-side-wrapper {
                        gap: 20px;
                    }
                }
            }
        }

        .btn-container {
            height: 110px;

            .bet-wrapper {
                gap: 20px;

                .btn-title {
                    margin-left: 185px;
                }

                .win-btn-title {
                    margin-left: 70px;
                }

                .minus {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    outline: none;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 50px;
                    color: $white;
                    font-weight: 600;
                    padding-bottom: 3px;
                }
            }

            .bet-amount {
                width: 170px;
                height: 50px;
                border-radius: 30px;
            }

            .play-wrapper {
                .play-btn {
                    width: 90px;
                    height: 90px;
                    margin: auto;
                    outline: none;

                    &:before {
                        position: absolute;
                        content: '';
                        display: inline-block;
                        top: -180px;
                        left: 0;
                        width: 30px;
                        height: 100%;
                        background-color: $white;
                        animation: shiny-btn1 5s ease-in-out infinite;
                    }

                    .play {
                        text-shadow: 4px 0px 2px #d24a0e;
                    }
                }
            }

            .win-wrapper {
                gap: 0px;
            }
        }
    }
}
.logout-modal {
    .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 450px;
        transition: transform 0.3s ease-out;
        .modal-content {
            padding: 15px;
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            width: 100%;

            .modal-close-btn {
                display: none;
            }
            .modal-body {
                padding: 15px;
            }
        }
    }
    .button-wrapper {
        .submit-button {
            width: 170px;
            height: 45px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 60px;
            padding: 0;
            transition: 0.3s ease-in-out;
        }
        .ok-btn {
            background-image: linear-gradient(-90deg, #fcd614, #e97b00);
            text-shadow: 3px 3px #d24a0e;
        }
        .cancel-btn {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(-90deg, #fcd614, #e97b00) border-box;
            border: 2px solid transparent;
            color: #d24a0e;
        }
    }
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}

@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

.custom-btn {
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset,
        -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
    background-image: linear-gradient(-90deg, #fcd614, #e97b00);
    text-shadow: 4px 0px 2px #d24a0e;
    border: 5px solid #80040a;
    transition: all 1s ease;
}
