@media screen and (max-height: 1430px) {
	.login-wrapper {
		padding: 30px;
	}
}

@media screen and (max-width: 600px) {
	.login-wrapper {
		max-width: 300px;
		padding: 20px;

		.auth-title {
			font-size: 53px;
		}

		.auth_form {
			.form-item {
				margin-bottom: 30px;

				.input-field {
					min-height: 47px;
					font-size: 16px;
				}

				.password-icon {
					svg {
						width: 25px;
						height: 25px;
					}
				}

				.email-icon {
					top: 14px;

					svg {
						width: 18px;
						height: 18px;
					}
				}
			}
		}

		.login-btn {
			min-height: 47px;
			font-size: 18px;
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 375px) {
	.login-wrapper {
		max-width: 270px;

		.auth-title {
			font-size: 45px;
		}

		.dice-animation {
			div {
				width: 100px;
				height: 80px;
			}
		}

		.auth_form {
			.form-item {
				margin-bottom: 25px;
			}
		}
	}
}