//--------------------------- Login Form --------------------------------------//

.login-wrapper {
	max-width: 450px;
	padding: 50px 31px;
	background: rgba($black, 0.5);
	backdrop-filter: blur(5px);

	.login-btn {
		min-height: 55px;
		background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
		box-shadow: 12px 12px 16px 0 rgba($white, 30%) inset, -8px -8px 12px 0 rgba($black, 25%) inset;
		border-radius: $border-radius-lg;
		width: $full-width;
		font-size: 22px;
		font-weight: $font-semi-bold;
		color: $white;
		border: none;
	}

	.guest-btn {
		background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
	}

	.auth-title {
		@include margin(15px 0 10px);

		text-shadow: -5px 0px 0px rgb(1 32 92), -5px 0px 0px rgb(1 32 92), 0px -1px 0px rgb(1 32 92), 0px 1px 0px rgb(1 32 92);
		font-family: $font-robus;
		font-size: 75px;
	}

	.auth_form {
		max-width: 440px;
		margin: 0 auto;

		.form-item {
			.input-field {
				@include padding(5px 10px);

				width: 100%;
				min-height: 55px;
				color: $black;
				background-color: $white;
				border-radius: 10px;
				font-size: 18px;
				font-weight: 600;
				transition: all 0.2s ease-in-out;
			}

			.password-icon {
				top: 12px;
				right: 10px;
				width: 28px;
			}

			.email-icon {
				top: 17px;
				right: 10px;
				width: 28px;
			}

			.error-message {
				left: 0;
				bottom: -17px;
			}
		}

		.checkbox {
			@include marginBottom(45px);

			.checkbox {
				width: 32px;
				height: 32px;
				border: 1px solid rgba($white, 0.3);
				transition: all 0.2s ease-in-out;

				&:hover {
					border: 1px solid $white;
				}

				.check-icon {
					width: 26px;
					height: 26px;

					path {
						stroke: $primary;
					}
				}
			}
		}
	}
}


//--------------------------- ResetPassword Form --------------------------------------//
.reset-password_form {
	&.form {
		.form-item {
			.password-icon {
				top: 50px;
			}
		}
	}

	.reset-password-btn {
		min-height: 55px;
	}
}